<form class="form-inline" [formGroup]="searchRepositoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-2">
    <label for="gitHubUser" class="sr-only">User Name</label>
    <input type="text" class="form-control" id="gitHubUser" placeholder="User Name" formControlName="userName">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="gitHubRepo" class="sr-only">Repository Name</label>
    <input type="text" class="form-control" id="gitHubRepo" placeholder="Repository Name"
      formControlName="repositoryName">
  </div>
  <button type="submit" data-toggle="modal" data-target="#exampleModal" [disabled]="!searchRepositoryForm.valid"
    class="btn btn-primary mb-2">Search</button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{totalFoundedRepositoryCount}}
        <div *ngFor="let repository of foundedRepositories;">
          {{repository.name}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
