<div class="card shadow">
  <div class="card-header card-header py-2 px-3">
    <h5 class="m-0"><i class="fas fa-user-friends mr-2"></i>Top {{users?.length}} Most Followed Users</h5>
  </div>
  <div class="card-body pb-0">
    <h6 class="card-subtitle mb-2 text-muted">Total {{totalUserCount}} User</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col-auto">#</th>
          <th scope="col-auto">Name</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of users; let i = index">
          <tr>
            <th class="align-middle"
                scope="row">{{i+1}}</th>
            <td class="align-middle">
              <img class="rounded-circle img-thumbnail mr-2"
                   style="width: 40px;height: 40px;"
                   src="{{user.avatarUrl}}"
                   alt="">
              <a href="{{user.url}}">{{user.login}}
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
