<form class="form-inline"
      [formGroup]="searchRepositoryForm"
      (ngSubmit)="onSubmit()">
  <div class="form-group mb-2 col-3 pl-0">
    <label for="gitHubUser"
           class="sr-only">User Name</label>
    <input type="text"
           class="form-control w-100"
           id="gitHubUser"
           placeholder="User Name"
           formControlName="userName"
           [ngClass]="{ 'is-invalid': searchRepositoryFormControls.userName.invalid && searchRepositoryFormControls.userName.dirty }">
    <div *ngIf="searchRepositoryFormControls.userName.invalid"
         class="invalid-tooltip">
      <div *ngIf="searchRepositoryFormControls.userName.errors.required">
        <i class="fas fa-exclamation-circle"
           style="margin-right:0.1rem"></i> Required
      </div>
      <div *ngIf="searchRepositoryFormControls.userName.errors.minlength">
        <i class="fas fa-exclamation-circle"
           style="margin-right:0.1rem"></i> Min length 2
      </div>
    </div>
  </div>
  <div class="form-group mx-sm-3 mb-2 col-3 pl-0">
    <label for="gitHubRepo"
           class="sr-only">Repository Name</label>
    <input type="text"
           class="form-control w-100"
           id="gitHubRepo"
           placeholder="Repository Name"
           formControlName="repoName"
           [ngClass]="{ 'is-invalid': searchRepositoryFormControls.repoName.invalid && searchRepositoryFormControls.repoName.dirty }">
    <div *ngIf="searchRepositoryFormControls.repoName.invalid"
         class="invalid-tooltip">
      <div *ngIf="searchRepositoryFormControls.repoName.errors.required">
        <i class="fas fa-exclamation-circle"
           style="margin-right:0.1rem"></i> Required
      </div>
      <div *ngIf="searchRepositoryFormControls.repoName.errors.minlength">
        <i class="fas fa-exclamation-circle"
           style="margin-right:0.1rem"></i> Min length 2
      </div>
    </div>
  </div>
  <button type="submit"
          data-toggle="modal"
          data-target="#exampleModal"
          [disabled]="!searchRepositoryForm.valid"
          class="btn btn-primary mb-2"><i class="fas fa-search mr-2"></i>Search Repo</button>
</form>

<app-repository-search-result (close)="isSearcResultVisible=false"
                              [isVisible]="isSearcResultVisible"
                              [repositories]="foundedRepositories"></app-repository-search-result>
