<div class="card shadow">
  <div class="card-header card-header py-2 px-3">
    <h5 class="m-0"><i class="fas fa-star mr-2"></i>Top {{repositories?.length}} Most Starred Repositories</h5>
  </div>
  <div class="card-body pb-0">
    <h6 class="card-subtitle mb-2 text-muted">Total {{totalRepositoryCount}} Repository</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col-auto">#</th>
          <th scope="col-auto">Name</th>
          <th scope="col-auto">Owner</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let repository of repositories; let i = index">
          <tr>
            <th class="align-middle" scope="row">{{i+1}}</th>

            <td class="align-middle"><a href="{{repository.url}}">{{repository.fullName}}</a> <span
                class="badge badge-primary ml-2">{{repository.starGazersCount}}</span> </td>

            <td class="align-middle">
              <img class="rounded-circle img-thumbnail mr-2" style="width: 40px;height: 40px;"
                src="{{repository.owner.avatarUrl}}" alt="">
              <a href="{{repository.owner.url}}">{{repository.owner.login}}
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    2019.08.03 15:03
  </div>
</div>
