<div class="card shadow">
  <div class="card-header card-header py-2 px-3">
    <h5 class="m-0"><i class="fas fa-radiation-alt mr-2"></i>Top {{issues?.length}} Most Reacted Issues</h5>
  </div>
  <div class="card-body pb-0">
    <h6 class="card-subtitle mb-2 text-muted">Total {{totalIssueCount}} Isssue</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col-auto">#</th>
          <th scope="col-auto">Issue</th>
          <th scope="col-auto">Created By</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let issue of issues; let i = index">
          <tr>
            <th class="align-middle"
                scope="row">{{i+1}}</th>

            <td class="align-middle"><a href="{{issue.url}}">{{issue.title}}</a> </td>

            <td class="align-middle">
              <img class="rounded-circle img-thumbnail mr-2"
                   style="width: 40px;height: 40px;"
                   src="{{issue.user.avatarUrl}}"
                   alt="">
              <a href="{{issue.user.url}}">{{issue.user.name}}
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
