<div class="container-fluid p-3">
  <div class="row">
    <div class="col-auto">
      <app-repositories></app-repositories>
    </div>
    <div class="col-auto">
      <app-user-info></app-user-info>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-auto">
      <app-repository-search>
      </app-repository-search>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-auto">
      <app-follower-users>
      </app-follower-users>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-auto">
      <app-following-users>
      </app-following-users>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-auto">
      <app-analyzed-repositories>
      </app-analyzed-repositories>
    </div>
  </div>
</div>
