<div class="container-fluid bg-light d-flex h-100 flex-column p-3">

  <div class="row flex-fill">
    <div class="col align-items-center">
      <div class="row justify-content-center p-3">
        <div class="col-auto text-primary">
          <h1>
            GitHub Respository Analyzer
          </h1>
        </div>
      </div>
      <div class="row justify-content-center p-3">
        <div class="col-auto">
          <h3 class="font-weight-normal">
            Easily analyze your repository with GitHub Analyzer, access your analyzes persistent!
          </h3>
        </div>
      </div>
      <div class="row justify-content-center align-items-center p-3 ">
        <div class="col-auto">
          <button class="btn btn-success p-3" (click)="login()">
            <span class="d-flex align-items-center">
              <h1>
                <i class="fab fa-github mr-2"></i>
              </h1>
              <h4>Sign in with GitHub</h4>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-3 ">
    <div class="col-4">
      <app-top-starrred-repos></app-top-starrred-repos>
    </div>
    <div class="col-4">
      <app-top-followed-users></app-top-followed-users>
    </div>
    <div class="col-4">
      <app-top-reacted-issues></app-top-reacted-issues>
    </div>
  </div>
</div>
